%container {
    // width: 1200px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;

    outline: 2px solid tomato;
    outline-offset: -2px; 



    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    // tablet screen
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    // desctop screen
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

}
%section {
        padding-top: 60px;
        padding-bottom: 60px;
        

 // desctop screen
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        // --items: 4;
    }

}